body{
    border: 20px solid #b0b1b2;
    max-width: 700px;
    width: 80%;
    margin: 20px auto;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Source Sans Pro;
    font-weight: 500;

}

h2{
    width: 70%;
    color: #2c3e50;
    font-size: 2.0rem;
    font-weight: 800;
}
.date{
        color: #2c96d3;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.2rem;

}
.blockquote{
    border-left: 6px solid #b0b1b2;
    padding-left: 8px;
}