h1{
    text-align: center
}
td{
    width: 100px;
    height: 100px;
    text-align: center
}
td:nth-child(2){
    border-left: 1px solid black;
    border-right: 1px solid black;
}
tr:nth-child(2){
    border-top: 1px solid;
    border-bottom: 1px solid
}
table {
    border-collapse: collapse;
    margin: auto;
}